:root{
  --btn-color: #e96;
  --background-color: #aec;
  --modal-color:white;
}

* {
  font-family:'Courier New', Courier, monospace;
}

body {
  background-color: var(--background-color);
}

.app {
  margin: 1em auto;
  max-width: 95%;
  width: 1200px;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 350px;
  max-width: 90%;
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index:10;
  background-color: var(--modal-color);
  border-radius: 16px;
  box-shadow: 2px 2px 5px #777;
}

#overlay {
  background-color: #aaa;
  opacity: 0.4;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

form{
  padding: 1em;
}

.form-content {
  display: flex;
  justify-content:space-between;
  margin: 10px;
  align-items: center;
}

.form-content label{
  padding: 0.3em 1em;
}

.btn-wrapper {
  margin-top: 30px;
}

.btn {
  background-color: var(--btn-color) !important;
  border-radius: 9999px;
  padding: 0.5em;
  width: 95%;
}

.btn:hover{
  opacity: 0.8;
}

.hidden{
  display: none;
}