.book {
    box-shadow: 2px 2px 5px #555;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.8em;
    width: 350px;
    margin-top: 10px auto;
}

.book-info > p {
    margin: 0.5rem 1rem;
}

.info-name {
    font-size: 1.2em;
}

.book img {
    margin: 20px;
}


